<div class="navigation-container">

    <div class="actions-container" *ngIf="!isRouteStarted">
        <button mat-raised-button color="accent" (click)="acknowledgeUserAgreementForLocation()"
            class="action-button">Start Route</button>
    </div>
    <div *ngIf="isRouteStarted" class="route-in-progress-container" [ngClass]="{'alert-active': isAlertActiveUnresolved}">
        <div class="progress-title" *ngIf="!isAlertActiveUnresolved">
            <p style="font-size: 2rem; font-weight: bold;">Route in progress</p>
            <p style="font-size: 1rem; font-weight: bold;">Your location is now shared with the organisation admin</p>
            <p style="font-size: 1rem; font-weight: bold;">Please keep this window open in order to </p>
        </div>
        <div *ngIf="isAlertActiveUnresolved" class="progress-title">
            <p style="font-size: 2rem; font-weight: bold;">You have an active route alert : {{activeRouteAlert.alertType}}</p>
            <p style="font-size: 1rem; font-weight: bold;">Please notify the admin when the alert is resolved!</p>
        </div>
        <div *ngIf="isRouteStarted" class="bg"></div>
        <button mat-raised-button color="primary"
            (click)="showNavigation()" class="action-button">Show
            Navigation</button>
            <button mat-raised-button color="accent" *ngIf="!isAlertActiveUnresolved" (click)="sendAlertToAdmin()" class="action-button">Send Alert to Admin</button>
            <button mat-raised-button color="accent" *ngIf="isAlertActiveUnresolved" (click)="markAlertAsResolved()" class="action-button">Mark Alert as Resolved</button>
        <button mat-raised-button color="warn" (click)="endRoute()"
            class="action-button">End
            Route</button>
    </div>
    
    
</div>