<div class="navigation-container">
    <div class="actions-container" *ngIf="!isRouteStarted">
        <button mat-raised-button color="primary"
            (click)="acknowledgeUserAgreementForLocation()"
            class="start-route-button"><mat-icon>flag</mat-icon>
            Start Route
        </button>
        <app-driver-route-waypoints-stepper
            [waypointsInfo]="route.waypoints"></app-driver-route-waypoints-stepper>

    </div>
    <div *ngIf="isRouteStarted" class="route-in-progress-container"
        [ngClass]="{'alert-active': isAlertActiveUnresolved}">
        <div class="progress-title" *ngIf="!isAlertActiveUnresolved">
            <p style="font-size: 2rem; font-weight: bold;">Route in progress</p>
            <p style="font-size: 1rem; font-weight: bold;">Your location is now
                shared with the organisation admin</p>
            <p style="font-size: 1rem; font-weight: bold;">If you leave this
                window, please refresh the page in order for the location
                sharing to continue.</p>
        </div>
        <div *ngIf="isAlertActiveUnresolved" class="progress-title">
            <p
                style="font-size: 2rem; font-weight: bold; line-height: 2.5rem;">You
                have an active route alert :
                {{formatAlertType(activeRouteAlert.alertType)}}</p>
            <p style="font-size: 1rem; font-weight: bold;">Please notify the
                admin when the alert is resolved!</p>
        </div>
        <div *ngIf="isRouteStarted" class="bg"></div>
        <button mat-raised-button color="primary"
            (click)="showNavigation()" class="action-button" *ngIf="!isAlertActiveUnresolved">
            <mat-icon> navigation</mat-icon> Show Navigation</button>
        <button mat-raised-button color="warn" *ngIf="!isAlertActiveUnresolved"
            (click)="sendAlertToAdmin()"
            class="action-button"><mat-icon>warning</mat-icon>Send Alert to
            Admin</button>
        <button mat-raised-button color="warn" *ngIf="isAlertActiveUnresolved"
            (click)="openAlertResolvedDialog()"
            class="action-button"><mat-icon>warning</mat-icon> Mark Alert as
            Resolved</button>
        <button mat-raised-button color="warn" (click)="endRoute()"
            class="action-button" *ngIf="!isAlertActiveUnresolved">
            <mat-icon>clear</mat-icon>End Route</button>
    </div>

</div>