<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  
  <ng-container matColumnDef="maintenanceType">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{convertMaintenanceTypeToString(element.maintenanceType)}} </td>
  </ng-container>
  
  <ng-container matColumnDef="maintananceDate">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.maintananceDate | date:'dd-MM-yyyy'}} </td>
  </ng-container>
  
  <ng-container matColumnDef="currentVehicleMileage">
    <th mat-header-cell *matHeaderCellDef> Vehicle Mileage </th>
    <td mat-cell *matCellDef="let element"> {{formatMilenage(element.currentVehicleMileage)}} km</td>
  </ng-container>
  
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price | number:'1.2-2'}} €</td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>