.main{
    background: linear-gradient(132deg, #E0EDF7, #5CABEC, #0E3F89, #15275F);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-card {
    width: 70%;
    height: auto;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;
    background-color:#E0EDF7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    font-size: 1.2rem;
}

.login-card .platform-description{
    color: #5CABEC;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

mat-divider{
    width: 100%;
    height: 2px;
    background-color: #0E3F89;
    margin-bottom: 2rem;
}

.login-title{
    font-size: 2rem;
    color: #5CABEC;
}

.login-card:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.8);
}

.login-form{
    margin-top: 1rem;
}

.login-button{
    width: 20rem;
    height: 3rem;
}

button[mat-icon-button] {
    color: #5CABEC;
}


.register-link {
    color: #0E3F89;
    transition: color 0.3s ease; 
    font-weight: bold;
}

.register-link:hover {
    color: #5CABEC;
}

.forgot-password-text{
    text-align: right;
    font-weight: bold;
}

.forgot-password-text a{
    color: #0E3F89;
    transition: color 0.3s ease; 
}

.forgot-password-text a:hover{
    color: #5CABEC;
}

.login-button{
    margin-top: 1rem;
    width: 90%;
    border-radius: 1em;
}

.login-error{
    color: #D32F2F;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .login-card {
        width: 90%;
        height: 90%;
        padding: 1rem;
    }

    .login-card .platform-description {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    mat-divider{
        margin-bottom: 0.5rem;
    }

    .sign-in-text{
        font-size: 1rem;
    }

    .login-title {
        font-size: 1.2rem;
    }

    .login-form {
        font-size: 1rem;
    }

    .login-button {
        width: 100%;
        height: 2.5rem;
        margin-top: 0.5rem;
        border-radius: 2rem;
    }

    .forgot-password-text {
        font-size: 0.9rem;
    }

    .forgot-password-text a {
        font-size: 0.9rem;
    }

    .register-link {
        font-size: 0.9rem;
    }
}









