<div class="main">
        <div class="login-card">
            <img src="../../../../../assets/images/logo.svg" alt="logo" class="logo" style="width: 40%; height: 40%; margin-bottom: 1rem;"/>
            <p class="platform-description">A complete solution for your organisation to manage and track your fleet. </p>
            <mat-divider horizontal></mat-divider>
            <h2 class="login-title">Sign in</h2>
            <p class="sign-in-text">If you don't have an account for your organisation, you can
                <a routerLink="register" class="register-link"> Register your organisation here!</a>
            </p>
            <p class="sign-in-text">If you already have an organisation account or you are a driver, you can sign in
                below.</p>

            <form class="login-form" (ngSubmit)="loginUser()">
                <mat-form-field class="email-form-field" style="width: 90%;" color="primary">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="loginFormGroup.controls['emailFormControl']"
                        placeholder="Ex. pat@example.com">
                    <mat-error
                        *ngIf="loginFormGroup.controls['emailFormControl'].hasError('email') && !loginFormGroup.controls['emailFormControl'].hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="loginFormGroup.controls['emailFormControl'].hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 90%;" color="primary">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'"
                        [formControl]="loginFormGroup.controls['passwordFormControl']">
                    <mat-error *ngIf="loginFormGroup.controls['passwordFormControl'].hasError('required')">
                        Password <strong>required</strong>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <!-- <p class="forgot-password-text">
                    <a routerLink="forgot-password">Forgot Password?</a>
                </p> -->
                
                <p class="login-error" *ngIf="emailNotFound">The email is not registered</p>
                <p class="login-error" *ngIf="incorrectPassword">Incorrect Password</p>

                <button mat-raised-button color="primary" class="login-button" type="submit" >Sign in</button>
            </form>

        </div>
</div>