<div class="my-fleet-container">
    <div class="vehicle-card" *ngFor="let vehicle of vehicles">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{vehicle.make}}  {{vehicle.model}}</mat-card-title>
          <mat-card-subtitle>{{ vehicle.vehicleType }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="vehicle.imageSrc">
        <mat-card-content>
          <p>&#8226;</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">DETAILS</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
