.route-card {
    background-color: #E0EDF7;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    color: black;
    padding-top: 1.5rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.route-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.start-location-info, .end-location-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 7rem;
    text-align: center;
}

.location-icon {
    width: 30px;
    height: 30px;
}

.route-arrow {
    flex-grow: 1;
    position: relative;
}

.route-arrow::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
    z-index: 1;
}

.route-arrow::after {
    content: '';
    position: absolute;
    top: 20%;
    right: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    transform: translateY(-50%);
    z-index: 2;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.route-status-info{
    font-weight: bold;
    align-self: center;
    margin-bottom: 1.5rem;

}

.route-details-info{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.left-details{
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
    font-weight: bold;
}

.right-details{
    align-items: end;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.status-upcoming {
    color: rgb(116, 116, 6);
}

.status-in-progress {
    color: #28a745;
}

.status-finished {
    color: #6c757d;
}

.status-alert-active {
    color: #dc3545;
}