<div class="route-card">
    <div class="card-header">
        <div class="start-location-info">
            <img src="../../../../../../../assets/markers/start_point.png" class="location-icon"/>
            <p>{{startLocationAddress}}</p>
            <p>{{route.startTime | date:'yyyy-MM-dd HH:mm'}}</p>
        </div>
        <div class="route-arrow">
        </div>
        <div class="end-location-info">
            <img src="../../../../../../../assets/markers/end_point.png" class="location-icon"/>
            <p>{{endLocationAddress}}</p>
            <p>{{route.arrivalTime | date:'yyyy-MM-dd HH:mm'}}</p>
        </div>
    </div>
    <div class="card-body">
        <div class="route-status-info" [ngClass]="{
            'status-upcoming': route.routeStatus === 'UPCOMING', 
            'status-in-progress': route.routeStatus === 'IN_PROGRESS',
            'status-finished': route.routeStatus === 'COMPLETED',
            'status-alert-active': route.routeStatus === 'ALERT_ACTIVE'
          }">
            Route status: {{formatRouteStatus(route.routeStatus)}}
          </div>
        <div class="route-details-info">
            <div class="left-details">
                <p>Total costs: {{totalCosts.toFixed(1)}} €</p>
                <p>Total distance: {{route.distance.toFixed(1)}} km</p>
            </div>
            <div class="right-details">
                <button *ngIf="route.routeStatus === 'IN_PROGRESS' || route.routeStatus === 'ALERT_ACTIVE'" mat-raised-button color="primary" (click)="viewLiveRouteStatus()">
                    View Live Status
                  </button>
                  <button *ngIf="route.routeStatus !== 'IN_PROGRESS' && route.routeStatus !== 'COMPLETED'  && route.routeStatus !== 'ALERT_ACTIVE'" mat-raised-button color="primary" (click)="displayRoute()">
                    Display Route
                  </button>
                  <button *ngIf="route.routeStatus === 'COMPLETED'" mat-raised-button color="primary" (click)="displayCompletedRoute()">
                    Display Completed Route
                  </button>
              </div>
        </div>
    </div>
</div>