<div class="route-card">
    <div class="card-header">
        <div class="start-location-info">
            <img src="../../../../../../../assets/markers/start_point.png" class="location-icon"/>
            <p>{{startLocationAddress}}</p>
            <p>{{route.startTime | date:'yyyy-MM-dd HH:mm'}}</p>
        </div>
        <div class="route-arrow">
        </div>
        <div class="end-location-info">
            <img src="../../../../../../../assets/markers/end_point.png" class="location-icon"/>
            <p>{{endLocationAddress}}</p>
            <p>{{route.arrivalTime | date:'yyyy-MM-dd HH:mm'}}</p>
        </div>
    </div>
    <div class="card-body">
        <div class="route-status-info">
            Route status: {{formatRouteStatus(route.routeStatus)}}
        </div>
        <div class="route-start-time-info">
            Start time: {{route.startTime | date:'yyyy-MM-dd HH:mm'}}
        </div>
    </div>
    <div class="card-actions">
        <button mat-raised-button color="primary" (click)="viewRoute()">View Route</button>
    </div>
</div>
