<table mat-table [dataSource]="dataSource" multiTemplateDataRows
  class="mat-elevation-z8">

  <ng-container matColumnDef="driverIcon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <img src="../../../../../../../assets/images/profile-default-icon.png"
        alt="Driver" class="driver-icon"
        style="height: 40px; width: 40px;" />
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
  </ng-container>

  <ng-container matColumnDef="ratePerKilometer">
    <th mat-header-cell *matHeaderCellDef> Rate </th>
    <td mat-cell *matCellDef="let element">
      ${{element.ratePerKilometer}}/km</td>
  </ng-container>

  <ng-container matColumnDef="licenseExpiryDate">
    <th mat-header-cell *matHeaderCellDef> License Expiry Date </th>
    <td mat-cell *matCellDef="let element"> {{element.licenseExpiryDate |
      date:'dd-MM-yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="yearsOfExperience">
    <th mat-header-cell *matHeaderCellDef> Experience </th>
    <td mat-cell *matCellDef="let element"> {{element.yearsOfExperience}}
      years</td>
  </ng-container>

  <ng-container matColumnDef="totalKilometersDriven">
    <th mat-header-cell *matHeaderCellDef> Total Kilometers </th>
    <td mat-cell *matCellDef="let element"> {{formatMilenage(element.totalKilometersDriven)}} km</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button class="select-driver-button" color="primary"
        (click)="selectDriver(element)">Select</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>
