<app-toolbar [matSidenav] = "sidenav" ></app-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav  class="mat-elevation-z8">
    <img class = "logo" src="../../../../assets/images/logo.svg">
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="dashboard">
      <mat-icon style="color: white;">dashboard</mat-icon>
      <span style="color: white;">Dashboard</span>
    </button>


    <button mat-button class="menu-button" routerLink="my-fleet">
      <mat-icon style="color: white;"> local_shipping</mat-icon>
      <span style="color: white;">My Fleet</span>
    </button>

    <button mat-button class="menu-button" routerLink="my-drivers">
      <mat-icon style="color: white;">assignment_ind</mat-icon>
      <span style="color: white;">My Drivers</span>
    </button>

    <button mat-button class="menu-button" routerLink="routes">
      <mat-icon style="color: white;">room</mat-icon>
      <span style="color: white;">Routes</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button sign-out-button">
      <mat-icon style="color: white;">arrow_left</mat-icon>
      <span style="color: white;">Sign out</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
 