<app-toolbar [matSidenav] = "sidenav" ></app-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav  class="mat-elevation-z8">

    <img class = "logo" src="../../../../assets/images/logo.svg">
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="dashboard">
      <mat-icon>dashboard</mat-icon>
     <span>Dashboard</span>
    </button>


    <button mat-button class="menu-button" routerLink="my-fleet">
      <mat-icon> local_shipping</mat-icon>
      <span>My Fleet</span>
    </button>

    <button mat-button class="menu-button" routerLink="my-drivers">
      <mat-icon>assignment_ind</mat-icon>
      <span>My Drivers</span>
    </button>

    <button mat-button class="menu-button" routerLink="routes">
      <mat-icon>room</mat-icon>
      <span>Routes</span>
    </button>

    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
 