mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: linear-gradient(#15275F, #0E3F89);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  overflow-x: hidden;
}

.content {
  height: calc(100vh - 100px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
  color: gray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  overflow: auto;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.menu-button{
  width: 100%;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: #9E9E9E;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.logo{
  height: 100px;
  width: 150px;
}
@media only screen and (max-width: 768px) {
  mat-sidenav {
    width: 200px;
    border-right: none;
    background: linear-gradient(#15275F, #0E3F89);
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    overflow-x: hidden;
  }

  mat-sidenav-container {
    height: calc(100vh - 115px);
    overflow: auto;
  }
  
}

