<div class="main-container">
    <div class="register-container">
        <h1 class="register-header">Set up your organisation account</h1>
        <p>Here you can create an account for your organisation.</p>
        <p>This account is accessible through the admin credentials you set below.</p>

        <form class="register-form" (ngSubmit)="registerUserFormSubmit()">

                <mat-form-field class="organisation-form-field" color="primary">
                    <mat-label>Organisation name</mat-label>
                    <input type="text" matInput 
                           [formControl]="registerFormGroup.controls['organisationFormControl']" 
                           placeholder="Please enter the name of your organisation">
                    <mat-error *ngIf="registerFormGroup.controls['organisationFormControl'].hasError('required')">
                      Organisation name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
      
                  <h1 class="admin-details-header">Admin Details</h1>
      
                  <div class="form-group-1">
                    <mat-form-field class="first-name-form-field" color="primary">
                        <mat-label>First name</mat-label>
                        <input type="text" matInput 
                                [formControl]="registerFormGroup.controls['firstNameFormControl']" 
                                placeholder="Plase enter the first name of the admin">
                        <mat-error *ngIf="registerFormGroup.controls['firstNameFormControl'].hasError('required')">
                            First name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="last-name-form-field" color="primary">
                        <mat-label>Last name</mat-label>
                        <input type="text" matInput 
                            [formControl]="registerFormGroup.controls['lastNameFormControl']" 
                            placeholder="Plase enter the last name of the admin">
                        <mat-error *ngIf="registerFormGroup.controls['lastNameFormControl'].hasError('required')">
                        Last name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group-2">
                    <mat-form-field class="phone-number-form-field" color="primary">
                        <mat-label>Phone number</mat-label>
                        <input type="text" matInput 
                               [formControl]="registerFormGroup.controls['phoneNumberFormControl']" 
                               placeholder="Plase enter the phone number of the admin">
                        <mat-error *ngIf="registerFormGroup.controls['phoneNumberFormControl'].hasError('required')">
                          Phone number <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registerFormGroup.controls['phoneNumberFormControl'].hasError('pattern') && !registerFormGroup.controls['phoneNumberFormControl'].hasError('required')">
                          Please enter a valid phone number
                        </mat-error>
                      </mat-form-field>

                      <mat-form-field class="email-form-field" color="primary">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput 
                               [formControl]="registerFormGroup.controls['emailFormControl']" 
                               placeholder="Plase enter the admin email">
                        <mat-error *ngIf="registerFormGroup.controls['emailFormControl'].hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registerFormGroup.controls['emailFormControl'].hasError('email') && !registerFormGroup.controls['emailFormControl'].hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                      </mat-form-field>
                </div>
           

         
                <div class="form-group-3">
                    <mat-form-field color="primary">
                        <mat-label>Password</mat-label>
                        <input matInput 
                               [type]="hidePassword ? 'password' : 'text'"
                               [formControl]="registerFormGroup.controls['passwordFormControl']">
                        <mat-error *ngIf="registerFormGroup.controls['passwordFormControl'].hasError('required')">
                            Password <strong>required</strong>
                          </mat-error>
                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    
                    <mat-form-field color="primary">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput 
                               [type]="hideConfirmPassword ? 'password' : 'text'"
                               [formControl]="registerFormGroup.controls['confirmPasswordFormControl']">
                        <mat-error *ngIf="registerFormGroup.controls['confirmPasswordFormControl'].hasError('passwordMismatch')">
                            Password doesn't match
                        </mat-error>
                        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
         
                <button mat-raised-button color="primary" class="register-button" type="submit" >Register</button>
          </form>

          <mat-divider></mat-divider>

          <p class="sign-in-return">Already have an account ? &nbsp;&nbsp;
            <a routerLink="" class="sign-in-link">Sign in </a>
            <a routerLink="" class="sign-in-link"><mat-icon>arrow_right_alt</mat-icon></a>
          </p>

    </div>
</div>