.main-container{
    width: 100%;
    height: 100%;
    background-color: #0B1437;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container{
    height: 100%;
    width: 80%;
    padding: 2rem;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.register-header{
    color: #03DAA3;
    font-size: xx-large;
    font-weight: bold;
}

.register-container p{
    color: white;
    font-size: large;
    margin-top: 2rem;

}

mat-form-field{
    margin-top: 2rem;
    width: 40%;
}

.admin-details-header{
    color: #03DAA3;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 2rem;
}


.form-group-1, .form-group-2, .form-group-3{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.submit-register-form-button{
    width: 15%;
    height: 4rem;
    border-radius: 2.5rem;
    margin-top: 2rem;
    background-color: #03DAA3;
    color: white;
    font-weight: bold;
    font-size: large;
}

mat-divider{
    width: 70%;
    background-color: grey;
    margin-top: 3rem;
}

.sign-in-return{
    display: flex;
    align-items: center;
}

.sign-in-link{
    color: #03DAA3;
}

  
.sign-in-return a:hover {
    color: #028F6D;
}

mat-icon {  
    display: inline-flex;
    vertical-align: top;
}

mat-form-field mat-label,
mat-form-field mat-input-element {
  color: #03DAA3;
}




