.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.send-alert-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.send-alert-form mat-form-field{
    width: 70%;;
}

.form-actions{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}