<div class="main-container" *ngIf="driver">
    <div class="upper-container">
        <div class="upper-container-left">
            <img
            [src]="driver.imageData ? 'data:image/jpeg;base64,' + driver.imageData : '../../../../../../assets/images/user-icon-white.png'"
            alt="Profile Picture" class="driver-profile-picture-container">
        </div>
        <div class="upper-container-right">
            <div class="general-details">
                <div class="general-details-header">
                    <img src="../../../../../../assets/images/driver-general-details-icon.svg" style="width: 35px; height: 35px; margin-bottom: 0.3rem;">
                    <h2 class="general-details-title">General Details</h2>
                </div>

                <mat-divider></mat-divider>
                <div class="general-details-body">
                    <div class="column">
                        <p><span style="color: #0E3F89;">Name: </span> <span style="color: gray; font-weight: 400;">{{driver.firstName}} {{driver.lastName}}</span></p>
                        <p><span style="color: #0E3F89;">Organisation name: </span> <span style="color: gray; font-weight: 400;">{{driver.organisationName}}</span></p>
                    </div>
                    <mat-divider vertical style="width: 2px; width: 1px; height: 100%; margin-top: 0.1rem;"></mat-divider>
                    <div class="column">
                        <p><span style="color: #0E3F89;">Email: </span> <span style="color: gray; font-weight: 400;">{{driver.email}}</span></p>
                        <p><span style="color: #0E3F89;">Phone number: </span> <span style="color: gray; font-weight: 400;">{{driver.phoneNumber}}</span></p>
                    </div>
                </div>
            </div>
            <div class="specific-details">
                <div class="specific-details-header">
                    <img src="../../../../../../assets/images/driver-specific-details-icon.svg" style="width: 35px; height: 35px; margin-bottom: 0.3rem;">
                    <h2 class="driver-specific-details-title">Driver Specific Details</h2>
                </div>
                <mat-divider></mat-divider>
                <div class="specific-details-body">
                    <div class="column">
                        <p><span style="color: #0E3F89;">Rate per kilometer: </span> <span style="color: gray; font-weight: 400;">{{driver.ratePerKilometer}} € / km</span></p>
                        <p><span style="color: #0E3F89;">License expiry date: </span> <span style="color: gray; font-weight: 400;">{{driver.licenseExpiryDate | date:'dd-MM-yyyy'}}</span></p>
                    </div>
                    <mat-divider vertical style="width: 2px; width: 1px; height: 100%; margin-top: 0.1rem;"></mat-divider>
                    <div class="column">
                        <p><span style="color: #0E3F89;">Experience: </span> <span style="color: gray; font-weight: 400;">{{driver.yearsOfExperience}} years</span></p>
                        <p><span style="color: #0E3F89;">Total kilometers: </span> <span style="color: gray; font-weight: 400;">{{formatMilenage(driver.totalKilometersDriven)}} km</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="lower-container">
        <div class="statistics-container">
            <div class="statistcs-header">
                <img src="../../../../../../assets/images/driver-statistics-icon.svg" style="width: 45px; height: 45px; ">
                <h2 class="driver-statistics-title">Driver Statistics</h2>
            </div>
            <div class="statistics-cards">
                <ngx-charts-number-card
                [view]="[800,150]"
                [scheme]="'air'"
                [results]="driverGeneralStatistics"
                [cardColor]="'#E0EDF7'"
                >
              </ngx-charts-number-card>
              <ngx-charts-number-card
              [view]="[400,150]"
              [scheme]="'air'"
              [results]="driverTotalEarningsStatistic"
              [bandColor]="'#5CABEC'"
              style="margin-left: -1em;"
              [valueFormatting]="formatTotalEarnings"
              >
            </ngx-charts-number-card>
            </div>
           
        </div>
    </div>
   
</div>



