<h2 mat-dialog-title>Delete Driver Account</h2>
<mat-dialog-content class="mat-typography">
    <h3>Are you sure you want to delete this driver's account?</h3>
    <p>It will be deleted permanetly and he will no longer be able to acces the application.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="'Close'" cdkFocusInitial>Close</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="'Delete'">Delete</button>
</mat-dialog-actions>
