<div class="welcome-message">
    <div class="logo-container">
        <img  src="../../../assets/images/logo.svg" alt="Logo" class="logo">
    </div>
  
    <h1 class="welcome-header">Welcome to Fleet Core, {{driverDetails.firstName}} {{driverDetails.lastName}}!</h1>
    <p class="welcome-logo">Helping you reach your destinations.</p>
    <p class="welcome-text">Choose a route and start your journey. </p>
    <p class="welcome-text">Safe travels and smooth roads ahead!</p>
    <button mat-raised-button color="primary" (click)="navigateToRouteSelection()" class="view-routes-button"><mat-icon> pin_drop</mat-icon>View assigned routes</button>
</div>
