<div class="user-details-container">
  <div class="profile-image">
    <img
      class="avatar mat-elevation-z8"
      [src]="imageData ? 'data:image/jpeg;base64,' + imageData : 'https://source.unsplash.com/c_GmwfHBDzk/200x200'" />
  </div>
  <div class="text-container">
    <p class="name-text">{{firstName}} {{lastName}}</p>
    <p class="role-text">{{role}}</p>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="custom-menu">
    <button mat-menu-item routerLink="edit-account">
      <mat-icon>settings</mat-icon>
      <span>Edit account</span>
    </button>
  </mat-menu>
</div>
